.navbar{
    width: 100%;
    height: 130px;
}

.nav-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.nav-left a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-right a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    align-items: center;
}

.nav-mid h3 {
    font-size: 2.2rem;
}
.nav-mid p {
    background-color: #00000000;
    color: rgb(146, 146, 146)
}

.nav-button {
    background-color: rgb(176,78,35);
    color: white;
    padding: 6px 20px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .nav-right {
        display: none;
    }
    .nav-left {
        display: none;
    }
}